
.cc-navbar{
    background-color:rgb(15, 15, 15);
}

.accueil section{
width: 100%;    
height: 100%;
background-color: rgb(250, 237, 51) ;

}

/* page accueil*/
.accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position:relative ;
    z-index: 0;

}

.text-over{
position: absolute;
left: 50%;
top: 30%;
}

.text-over-recherche{
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    width: 25%;
    }
.image1{
    position: relative;
    }
    body{
        background-color: blue;
    }